<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, message| %>
      <div><%= message %></div>
  <% end %>
  <img src="http://i.imgur.com/MQHYB.jpg" height="100" />

<%= yield %>

<div>
  <h2> THIS IS ON EVERY PAGE NOW! </h2>
</div>

</body>
</html>
